
@font-face {
  font-family: roboto;
  src: url(./assets/Roboto-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html , body {
  width: 100%;
  height: 100%;
  /* font-family: roboto; */
}


button {
  background: linear linear-gradient(to bottom ,#1E69E1,#6CA5FF)
}


@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slide-in-left 0.5s ease-out forwards;
}

.animate-slide-in-right {
  animation: slide-in-right 0.5s ease-out forwards;
}



@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-15px);
  }
  75% {
    transform: translateY(-5px);
  }
}

.animate-wave span {
  display: inline-block;
  animation: wave 2s ease-in-out infinite;
}

.animate-wave span:nth-child(even) {
  animation-delay: 0.5s;
}

.animate-wave span:nth-child(3n) {
  animation-delay: 0.75s;
}

@keyframes text-wave {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.animate-text-wave {
  animation: text-wave 4s ease-in-out infinite;
}

.animation-delay-3000 {
  animation-delay: 3s;
}
